/* Enter your custom styles here */

.myFloatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007aff !important;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
